.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: azure;
}

.board {
  margin: auto;
  display: grid;
  justify-content: stretch;
  max-width: 500px;
  height: 250px;
}
.drop-button {
  background-color: black;
}

.cell {
  width: 100%;
}


.login-form {
margin-top:15px;
}

label {
  margin: 10px 0;
  font-size: 18px;
}

input {
  height: 35px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5 10px;
  margin:6px;
}

button {
  height: 50px;
  width: 100px;
  font-size: 18px;
  background-color: #2288dd;
  color: white;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background-color: #0066b3;
}